//post-content styles 
.post-content {
  position: relative;

  .h7 {
    color: $grey2;
    font-size: calc-em(16px);
    font-weight: $heavy;
    margin: 8px 0 20px;
    line-height: 1.3;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: block;

    @include desktop {
      font-size: calc-em(18px);
    }
  }

  .red {
    color: $red;
  }

  .pink {
    color: $pink;
  }

  .block-columns {
    display: block;

    @include desktop {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      margin: 0 -20px;
    }

    .block-column {
      width: 100%;
      
      @include desktop {
        width: 50%;
        padding: 0 20px;
      }
    }
  }
}