//post-content styles 
.post-content {
  position: relative;

  .h7 {
    color: $grey2;
    font-size: calc-em(14px);
    font-weight: $light;
    margin: 8px 0 20px;
    line-height: 1.4;
    // letter-spacing: 1px;
    text-transform: uppercase;
    display: block;

    @include desktop {
      font-size: calc-em(20px);
    }
  }

  .red {
    color: $red;
  }

  .pink {
    color: $pink;
  }

  .block-columns {
    display: block;

    @include desktop {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      // margin: 0 -20px;

      &.align-center,
      &.flex-align-center {
        align-items: center;

        .elementor-container {
          @include desktop {
            align-items: center;
          }
        }
      }
    }

    .block-column {
      width: 100%;
      
      @include desktop {
        width: 50%;
        padding: 0 20px;
      }
    }
  }

  .block-image, .block-widget, .block-text {
    position: relative;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 1.5rem;
    padding: 15px;

    & + .elementor-column {
      margin: 0 0 0 1rem;
    }
  }

  .block-image {
    line-height: 0;

    &:before {
      display: block;
      content: '';
      border: 1px dashed $lightPink;
      border-radius: 20px;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;

      @include desktop {
        border: 2px dashed $lightPink;
      }
    }

    img {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      max-width: 100%;
      height: auto;
      border-radius: 10px;
    }
  }
}