//accordion styles 
.accordion {
  $p: &;
  padding: 5px 0;

  &-list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    .content-wrap {
      a {
        color: $purple;
        transition: all .2s ease-in-out;

        &:hover {
          color: $red;
        }
      }

      p {
        margin: 0;
      }
    }

    #{$p}-item {
      cursor: pointer;
      margin: 0 0 10px 0;

      &:last-child {
        margin: 0;
      }

      &.is-open {
        #{$p}-label {
          background: $purple;
        }
      }

      #{$p}-label {
        padding: 15px 20px;
        background: $pink;
        color: $white;
        border-radius: 8px;
        display: flex;
        align-items: center;
        font-family: $secondaryFont;
        font-weight: $bold;
        font-size: calc-em(20px);
        line-height: 1;
        position: relative;
        transition: all .2s ease-in-out;

        p {
          margin: 0;
        }

        .icon {
          display: block;
          position: absolute;
          right: 15px;
          font-size: calc-em(18px);
          transition: all .2s ease-in-out;

          &.expand {
            transform: rotate(90deg);
          }
        }
      }

      #{$p}-content {
        display: none;
        padding: 5px 8px;
      }
    }
  }
}