//site-nav styles
.nav {
  $p: &;

  &-wrap {
    // position: relative;
    width: 100%;
    padding: 0 0 0 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    #{$p}-mobile {
      position: relative;
      z-index: 3;

      @include tablet {
        display: inline-block;
      }

      #{$p}-menu {
        .hamburger-menu {
          position: relative;
          width: 30px;
          height: 20px;
          cursor: pointer;

          &.active {
            #{$p}-line {
              background: $purple;
              transition: all .5s ease-in-out;

              &.l1, &.l3 {
                top: 8px;
              }

              &.l2 {
                display: none;
              }
            }

            &.rotate {
              .l1 {
                transform: rotate(45deg);
              }

              .l3 {
                width: 100%;
                transform: rotate(-45deg);
              }
            }
          }

          #{$p}-line {
            width: 30px;
            height: 3px;
            border-radius: 4px;
            background: $red;
            transition: all .4s linear;
            position: absolute;
            left: 0;

            &.l1 {
              top: 0;
            }

            &.l2 {
              display: block;
              top: 8px;
            }

            &.l3 {
              top: 16px;
            }
          }
        }
      }
    }

    #{$p}-links {
      display: none;
      width: 100%;
      position: absolute;
      left: 0;
      top: 80px;
      background: $white;

      @include desktop {
        display: flex;
        height: 100%;
        width: 100%;
        top: 0;
        position: relative;
        justify-content: flex-end;
        background: transparent;
      }

      #{$p}-links__wrap {
        .links {
          width: 100%;
          height: 100%;
          display: block;
          list-style-type: none;
          margin: 0;
          padding: 0;

          @include desktop {
            display: flex;
            align-items: center;  
          }

          &-item, .menu-item {
            display: block;
            position: relative;
            width: auto;
            height: 100%;
            cursor: pointer;
            border-bottom: 1px solid $bottomGrey;

            @include desktop {
              display: flex;
              align-items: center;
              justify-content: center;
              margin: 0 1rem;
              border-bottom: none;
            }

            &:last-child {
              margin: 0;

              @include desktop {
                margin: 0 0 0 1.2rem;
              }
            }

            &.active, &.current_page_item {
              a {
                color: $white;

                @include desktop {
                  color: $red;
                }
              }
            }

            &:after {
              content: '';
              display: block;
              position: absolute;
              width: 0;
              height: 100%;
              background: $red;
              z-index: 1;
              bottom: 0px;

              @include desktop {
                height: 6px;
                bottom: -10px;
                // border-top-left-radius: 2px;
                // border-top-right-radius: 2px;
                border-radius: 4px;
                transform-origin: center center;
                transition: width .3s linear;
              }
            }

            &:hover, &.active, &.current_page_item {
              &:after {
                width: 100%;
              }
            }
            
            a {
              width: 100%;
              position: relative;
              display: flex;
              align-items: center;
              height: 100%;
              font-family: $secondaryFont;
              font-size: calc-em(20px);
              color: $grey1;
              padding: 15px 30px 14px;
              z-index: 2;

              @include desktop {
                padding: 0;
                justify-content: center;
              }

              &:hover {
                color: $white;

                @include desktop {
                  color: $red;
                }
              }
            }
          }
        }
      }

      .info-bar {
        @include tablet {
          display: block
        }
        
        .container {
          display: block;
          padding: 5px 30px;
        }
      
        &_wrap {
          display: block;

          .info-col {
            width: 100%;
            display: block;

            .cta-content {
              margin: 0 0 15px;

              .icon {
                font-size: calc-em(22px);
                margin: 0 15px 0 0;
              }

              .desc {
                font-size: calc-em(14px);
                font-weight: $bold;
                line-height: 1.25;
              }
            }

            .social-media {
              margin: 20px 0 0;
              justify-content: flex-start;

              .media {
                margin: 0 10px 0 0;

                &:last-child {
                  margin: 0;
                }

                a {
                  display: block;
                  
                  .icon {
                    font-size: calc-em(26px);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}