//site-header styles 
.header {
  $p: &;
  box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.05);
  
  &-wrap {
    padding: 0.75rem 0;
    background: rgba(255,255,255,0.75);

    .container {
      display: flex;
      justify-content: flex-start;

      .logo {
        display: block;
        width: auto;
  
        &-img {
          width: auto;
          height: 65px;
  
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}