@font-face {
	font-family: 'Baloo';
	font-style: normal;
	src: url('/assets/fonts/baloosemibold.eot');
	src: url('/assets/fonts/baloosemibold.eot?#iefix') format('embedded-opentype'),
			 url('/assets/fonts/baloosemibold.woff2') format('woff2'),
			 url('/assets/fonts/baloosemibold.woff') format('woff'),
			 url('/assets/fonts/baloosemibold.ttf') format('truetype'),
			 url('/assets/fonts/baloosemibold.svg#baloo_2extrabold') format('svg');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Baloo';
	font-style: normal;
	src: url('/assets/fonts/baloobold.eot');
	src: url('/assets/fonts/baloobold.eot?#iefix') format('embedded-opentype'),
			 url('/assets/fonts/baloobold.woff2') format('woff2'),
			 url('/assets/fonts/baloobold.woff') format('woff'),
			 url('/assets/fonts/baloobold.ttf') format('truetype'),
			 url('/assets/fonts/baloobold.svg#baloo_2extrabold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Baloo';
	font-style: normal;
	src: url('/assets/fonts/baloo.eot');
	src: url('/assets/fonts/baloo.eot?#iefix') format('embedded-opentype'),
			 url('/assets/fonts/baloo.woff2') format('woff2'),
			 url('/assets/fonts/baloo.woff') format('woff'),
			 url('/assets/fonts/baloo.ttf') format('truetype'),
			 url('/assets/fonts/baloo.svg#baloo_2extrabold') format('svg');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Nunito';
	src: url('/assets/fonts/nunito-bold.eot');
	src: url('/assets/fonts/nunito-bold.eot?#iefix') format('embedded-opentype'),
			 url('/assets/fonts/nunito-bold.woff2') format('woff2'),
			 url('/assets/fonts/nunito-bold.woff') format('woff'),
			 url('/assets/fonts/nunito-bold.ttf') format('truetype'),
			 url('/assets/fonts/nunito-bold.svg#nunitobold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Nunito';
	src: url('/assets/fonts/nunito-bolditalic.eot');
	src: url('/assets/fonts/nunito-bolditalic.eot?#iefix') format('embedded-opentype'),
			 url('/assets/fonts/nunito-bolditalic.woff2') format('woff2'),
			 url('/assets/fonts/nunito-bolditalic.woff') format('woff'),
			 url('/assets/fonts/nunito-bolditalic.ttf') format('truetype'),
			 url('/assets/fonts/nunito-bolditalic.svg#nunitobold_italic') format('svg');
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Nunito';
	src: url('/assets/fonts/nunito-italic.eot');
	src: url('/assets/fonts/nunito-italic.eot?#iefix') format('embedded-opentype'),
			 url('/assets/fonts/nunito-italic.woff2') format('woff2'),
			 url('/assets/fonts/nunito-italic.woff') format('woff'),
			 url('/assets/fonts/nunito-italic.ttf') format('truetype'),
			 url('/assets/fonts/nunito-italic.svg#nunitoitalic') format('svg');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Nunito';
	src: url('/assets/fonts/nunito-regular.eot');
	src: url('/assets/fonts/nunito-regular.eot?#iefix') format('embedded-opentype'),
			 url('/assets/fonts/nunito-regular.woff2') format('woff2'),
			 url('/assets/fonts/nunito-regular.woff') format('woff'),
			 url('/assets/fonts/nunito-regular.ttf') format('truetype'),
			 url('/assets/fonts/nunito-regular.svg#nunitoregular') format('svg');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Nunito';
	src: url('/assets/fonts/nunito-semibold.eot');
	src: url('/assets/fonts/nunito-semibold.eot?#iefix') format('embedded-opentype'),
			 url('/assets/fonts/nunito-semibold.woff2') format('woff2'),
			 url('/assets/fonts/nunito-semibold.woff') format('woff'),
			 url('/assets/fonts/nunito-semibold.ttf') format('truetype'),
			 url('/assets/fonts/nunito-semibold.svg#nunitosemibold') format('svg');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Nunito';
	src: url('/assets/fonts/nunito-semibolditalic.eot');
	src: url('/assets/fonts/nunito-semibolditalic.eot?#iefix') format('embedded-opentype'),
			 url('/assets/fonts/nunito-semibolditalic.woff2') format('woff2'),
			 url('/assets/fonts/nunito-semibolditalic.woff') format('woff'),
			 url('/assets/fonts/nunito-semibolditalic.ttf') format('truetype'),
			 url('/assets/fonts/nunito-semibolditalic.svg#nunitosemibold_italic') format('svg');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}