/* Breakpoints */
$bpMobile: 320px;
$bpTablet: 768px;
$bpDesktop: 1024px;
$bpLgDesktop: 1280px;
$bpXLgDesktop: 1366px;

/* Font */
$primaryFont: 'Nunito', Helvetica, Arial, sans-serif;
$secondaryFont: 'Baloo', Helvetica, Arial, sans-serif;
$base-fontsize: 16px;
$base-lineheight: 1.4;
$thin: 100;
$light: 200;
$book: 300;
$normal: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$heavy: 800;
$black: 900;

/* Colors */
$white: #FFF;
$bottomGrey: #dfdfdf;
$peach: #dba3a3;
$pink: #FF8F8F;
$purple: #C281FF;
$purple2: #8400ff;
$red: #FC5959;
$grey1: #333;
$grey2: #4F4F4F;
$darkPurple: #8A5BB6;
$whatsapp: #25D366;
$facebook: #3B5998;