//Normalize styles
@import '../../node_modules/normalize.css/normalize';
@import '../../node_modules/slick-carousel/slick/slick';

@import "./_mixins";
@import "./_variables";
@import "./_styles";
@import "./_fonts";

//Icomoon
@import "../_icomoon/variables";
@import "../_icomoon/style";

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
  font-size: $base-fontsize;
}

body {
  font-family: $primaryFont;
  font-weight: $light;
  margin: 0;
  padding: 0;
  color: $grey2;
  line-height: $base-lineheight;

  &.fixed {
    overflow-y: hidden;
  }

  a {
    text-decoration: none;
    transition: all .3s ease-in-out;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: $heavy;
    font-family: $secondaryFont;
    margin: 0;
    line-height: 1;
    color: $blue;
  }

  h1 {
    font-size: calc-em(48px);

    @include desktop {
      font-size: calc-em(65px);
    }
  }

  h2 {
    font-size: calc-em(36px);

    @include desktop {
      font-size: calc-em(46px);
    }
  }

  h3 {
    font-size: calc-em(24px);

    @include desktop {
      font-size: calc-em(32px);
    }
  }

  h4 {
    font-size: calc-em(16px);

    @include desktop {
      font-size: calc-em(18px);
    }
  }

  p {
    font-size: calc-em(18px);
    margin: 1rem 0;
  }
  
  header {
    display: block;
    width: 100%;
    position: fixed;
    z-index: 10;
  }

  main {
    .content-wrap {
      // padding: 2rem 0;

      // @include desktop {
      //   padding: 4rem 0;
      // }

      &.bg-pink {
        background: $lightPink;
      }

      &.bg-purple {
        background: $lightPurple;
      }

      &.bg-blue {
        background: $lightBlue;
      }

      .elementor-section-wrap {
        & > .elementor-section {
          padding: 2rem 0;

          @include desktop {
            padding: 4rem 0;
          }

          .elementor-container {
            .elementor-container {
              padding: 0;
    
              .elementor-widget-wrap,
              .elementor-element-populated {
                padding: 0;

                .elementor-widget-container {
                  p {
                    margin: 1rem 0 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  footer {
    .site-footer {
      .links {
        .menu-item {
          font-size: calc-em(15px);
          font-weight: $light;
          margin: 10px 0;

          a {
            color: $white;

            &:hover {
              color: $pink
            }
          }
        }
      }
    }
  }
}

@import "../_modules/atoms/button/button";
@import "../_modules/atoms/feature-card/feature-card";
@import "../_modules/molecules/info-bar/info-bar";
@import "../_modules/molecules/site-nav/site-nav";
@import "../_modules/molecules/page-banner/page-banner";
@import "../_modules/molecules/breadcrumb/breadcrumb";
@import "../_modules/molecules/post-content/post-content";
@import "../_modules/molecules/accordion/accordion";
@import "../_modules/molecules/scroll-top/scroll-top";
@import "../_modules/molecules/modal/modal";
@import "../_modules/organisms/site-header/site-header";
@import "../_modules/organisms/carousel-banner/carousel-banner";
@import "../_modules/organisms/welcome/welcome";
@import "../_modules/organisms/features/features";
@import "../_modules/organisms/testimonials/testimonials";
@import "../_modules/organisms/site-footer/site-footer";
