@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?vkc46f');
  src:  url('fonts/icomoon.eot?vkc46f#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?vkc46f') format('truetype'),
    url('fonts/icomoon.woff?vkc46f') format('woff'),
    url('fonts/icomoon.svg?vkc46f#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pin:before {
  content: "\e900";
}
.icon-email:before {
  content: "\e905";
}
.icon-phone:before {
  content: "\e906";
}
.icon-chevron-right:before {
  content: "\e904";
}
.icon-chevron-left:before {
  content: "\e901";
}
.icon-chevron-down:before {
  content: "\e902";
}
.icon-chevron-up:before {
  content: "\e903";
}
.icon-long-arrow:before {
  content: "\e90e";
}
.icon-close:before {
  content: "\e917";
}
.icon-whatsapp2:before {
  content: "\e907";
}
.icon-facebook:before {
  content: "\e911";
}
.icon-linkedin:before {
  content: "\e912";
}
.icon-twitter:before {
  content: "\e913";
}
.icon-youtube:before {
  content: "\e914";
}
.icon-instagram:before {
  content: "\e915";
}
.icon-pinterest:before {
  content: "\e916";
}
.icon-whatsapp:before {
  content: "\e90f";
}
.icon-email2:before {
  content: "\e910";
}
.icon-fb-circle:before {
  content: "\e908";
}
.icon-quote-open:before {
  content: "\e909";
}
.icon-quote-close:before {
  content: "\e90a";
}
.icon-curriculum:before {
  content: "\e90b";
}
.icon-programmes:before {
  content: "\e90c";
}
.icon-admission:before {
  content: "\e90d";
}
