$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "/assets/fonts" !default;

$icon-pin: "\e900";
$icon-email: "\e905";
$icon-phone: "\e906";
$icon-chevron-right: "\e904";
$icon-chevron-left: "\e901";
$icon-chevron-down: "\e902";
$icon-chevron-up: "\e903";
$icon-long-arrow: "\e90e";
$icon-whatsapp: "\e907";
$icon-facebook: "\e911";
$icon-wa-circle: "\e90f";
$icon-em-circle: "\e910";
$icon-fb-circle: "\e908";
$icon-quote-open: "\e909";
$icon-quote-close: "\e90a";
$icon-curriculum: "\e90b";
$icon-programmes: "\e90c";
$icon-admission: "\e90d";

