extends _layouts/base

include ./_modules/organisms/carousel-banner/carousel-banner
include ./_modules/organisms/welcome/welcome
include ./_modules/organisms/features/features

block config
	- isHome = true
	- var pageTitle = 'Divinity Kindergarten'
	- var page = 'homepage'
	- var site = htmlWebpackPlugin.options //global site data

block content
	+carousel-banner({
		'carousel': [
			{
				'title': 'We are childcare professionals 1',
				'desc': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam rutrum ultrices lobortis. Sed in ligula varius, porttitor tortor sit amet, ultricies ipsum',
				'btnTitle': 'learn more',
				'btnURL': '#',
				'imgDk': '/assets/images/homebanner_img_1.png',
				'imgMb': '/assets/images/homebanner_img_1_mobile.png',
				'imgTitle': 'Carousel Img 1'
			},
			{
				'title': 'We are childcare professionals 2',
				'desc': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam rutrum ultrices lobortis. Sed in ligula varius, porttitor tortor sit amet, ultricies ipsum',
				'btnTitle': 'learn more',
				'btnURL': '#',
				'imgDk': '/assets/images/homebanner_img_1.png',
				'imgMb': '/assets/images/homebanner_img_1.png',
				'imgTitle': 'Carousel Img 2'
			} 
		],
		'auto': 'false',
		'speed': '3000'
	})

	+welcome({
		'title': 'Welcome to Divinity Kindergarten',
		'desc': 'Lorem ipsum dolor sit amet, consectetur ero atos adipiscing. Mattis libero at gravida posuere. Aenean elementum lacus et libero dolor sit lorem at libero atos dolor sit senin lorem imperdiet vulputate.'
	})

	+features({
		'features': [
			{
				'img': '/assets/images/curriculum-card@4x.png',
				'icon': 'icon-curriculum',
				'title': 'Curriculum',
				'desc': 'Lorem ipsum dolor sit amet, consectetur atos adipiscing. Mattis libero gravida posuere...',
				'link': '#'
			},
			{
				'img': '/assets/images/programmes-card@4x.png',
				'icon': 'icon-programmes',
				'title': 'Programmes',
				'desc': 'Etiam rutrum ultrices lobortis. Sed in ligula varius, porttitor tortor atos sed lorem...',
				'link': '#'
			},
			{
				'img': '/assets/images/admission-card@4x.png',
				'icon': 'icon-admission',
				'title': 'Admission',
				'desc': 'Nulla facilisi donec et consequat nunc. Morbi lacinia justo tortor dolor sit amet lorem...',
				'link': '#'
			}
		]
	})